@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* d-flex will contain display flex property only START */
.d-flex{
    display: flex;
}
/* d-flex will contain display flex property only END */

.ml-a{
    margin-left: auto;
    color: black;
    padding: 20px;
    font-size: 10px;
}
.txt-center{
    text-align: center;
}





h1{
    color: white;
    font-family: 'Poppins', serif;
    font-size: 60px;

}

.main-menu{
    width: 1100px;
    height: 200px;
    background-color: #b68e76;
    margin: 0 auto;
    padding: 50px 30px;
    border-radius: 0px 0px 80px 80px;
    box-shadow: 0 90px 50px -70px gray;
}

nav ul li a{
    color: white;
    text-decoration: none;
    padding: 0px 10px;
    font-size: 10px;

}
nav ul li{
    display: inline-block;
}

.navbar{
    padding-left: 100px;
    margin-left: auto;

}

.col{
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}
.social-icon-menu{
    position: relative;
    padding: 0 20px;
}
.social-icon-menu::after{
    content: ' ';
    border-right: 2px solid grey;
    position: absolute;
    height: 15px;
    top: 2px;
    right: 7px;
}

/* ================================main top section========================================= */

#main-top-section{
    background-image: url(../image/img3.png);
    background-repeat: no-repeat;
    
}

.left-content{
    border: 2px solid;
    display: flex;
    flex-direction: column;
    width: 30vw;
    height: 60vh;
    justify-content: space-between;
    margin-left: 30px;
    margin-top: 80px;
    
}

.left-content h2{
    font-weight: bolder;
}

.left-content .para1{
    border: 2px solid;
    
}
.left-content input{
    border: 2px solid;
    border-radius: 25px;
    padding: 5px;
    
}
.left-content .para2{
    border: 2px solid;

}

