*{
    font-family: Verdana, Geneva, sans-serif;
    line-height: 2.5;
}
body {
    height: 1500px;
    background: rgb(161, 252, 161);
    background: linear-gradient(0deg, rgba(161, 252, 161, 1) 30%, rgba(255, 216, 133, 1) 89%);
}
h3{
    color: red;
    font-size: 30px;
}
p,ul{
    color: blue;
    font-size: 20px;
}
ol{
    color: green;
}
ul[type=square]{
    color: blueviolet;
}