/* ===================== COMMON STYLE ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;


}

body {
    background-color: #f1e8e3;
    max-width: 1440px;

}

.d-flex {
    display: flex;
}

.flex-direction-rr {
    flex-direction: row-reverse;
}

.ml-a {
    margin-left: auto;
}

.txt-center {
    text-align: center;
}

.txt-light {
    color: white;
}

.px-3 {
    padding: 0 3em;
}

.position-fixed {
    position: fixed;
}

.w-100 {
    width: 100%;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    /* border: 2px solid; */
    display: flex;
    margin-right: auto;
    margin-left: 180px;
}

.col {
    flex: 1 0 0%;
    /* padding-right: 15px; */
    /* padding-left: 15px; */
}

a {
    text-decoration: none;
}

th {
    font-size: 21px;
    font-weight: 250;
    font-family: "Roboto Slab";
    text-align: left;
    padding-left: 10px;
}

td {
    width: 511px;
    height: 63px;
    font-size: 10px;
    font-weight: 400;
    font-family: "Barlow";
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bg-light {
    background-color: white;
}

.p-5 {
    padding: 5rem;
}

.pl-25 {
    padding-left: 25px;
}

.pl-100 {
    padding-left: 100px;
}

.pr-100 {
    padding-right: 100px;
}

.ml-100 {
    margin-left: 100px;
}

.mr-100 {
    margin-right: 100px;
}

.my-1 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.mt-2 {
    margin-top: .5em;
}

.position-reletive {
    position: relative;
}











/* ==================== HEADER STYLE =================== */


.main-menu {
    width: 1180px;
    background-color: #3a3a3a;
    margin: 0 auto;
    padding: 50px 30px 20px;
    border-radius: 0px 0px 80px 80px;
    box-shadow: 0 90px 50px -70px gray;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

nav ul li {
    display: inline-block;
}

.social-icon-menu {
    position: relative;
    padding: 0 20px;
}

.social-icon-menu::after {
    content: ' ';
    border-right: 2px solid grey;
    position: absolute;
    height: 20px;
    top: 2px;
    right: 7px;
}

h1 {
    color: #b68e76;
    font-family: 'Poppins', serif;
    font-size: 72px;

}


/* ========================== MAIN TOP SECTION STYLE ======================== */

#main-top-section {
    background: url(../images/top-bg.png)no-repeat 0px 200px /contain;
    background-position: -75px -84px;

}

.card-main-header {
    margin: -60px 93px 200px 0px;
    padding: 150px 0px 150px 150px;
    width: 50%;
}

.card-main-header h2 {
    font-size: 37px;
    letter-spacing: 1px;
    line-height: 49px;
    font-weight: 300;
    font-family: "Roboto Slab";
}

.card-main-header p {
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #000000;
    font-weight: 600;
    font-family: "Roboto Slab";
    margin: 30px 0;
    margin-right: 50px;
}

.btn {
    border-radius: 21px;
    padding: 7px 34px;
    color: white;
}

.btn-primary {
    background-color: #b68e76;
}

.btn-secondary {
    background-color: #3a3a3a;
}

.btn-third {
    background-color: #b68e76;
    width: 11em;
}

/* ==========================healthy-and-delicious============================ */

#healthy-and-delicious>.container {
    /* border: 2px solid; */
    /* border-radius: 100px; */
    /* height: 100vh; */
    /* width: 80vw; */
    display: flex;
    padding: 0;

}

#healthy-and-delicious>.container>.left-content {
    border-radius: 20% 0px 0px 20%;
    background-color: #fff;
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 10px 49px rgb(94, 92, 92);

}

#healthy-and-delicious img {
    width: 50%;
}

#healthy-and-delicious h2 {
    font-size: 39px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto Slab";

}

#healthy-and-delicious h3 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #000000;
    font-weight: 250;
    font-family: "Roboto Slab";

}

#healthy-and-delicious h4 {
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #b68e76;
    font-weight: 500;
    font-family: "Roboto Slab";

}

#healthy-and-delicious p {
    font-size: 8px;
}

#healthy-and-delicious ul {
    list-style: none;
}

#healthy-and-delicious ul li:before {
    content: "+";
    padding-right: 5px;
}

#healthy-and-delicious h5 {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    letter-spacing: 0px;
    line-height: 19px;
    color: #30302f;
    font-weight: 800;
    font-family: "Barlow";
}

/* ================================ Beverage courses =============================== */

#beverage-courses {
    background-image: url(../images/Beverage.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.card-beverage-courses {
    /* border: 2px solid; */
    margin: 230px 5px 130px 100px;
    /* padding: 150px 0px 150px 150px; */
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


}

#beverage-courses .card-top {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding: 0px 20px;
    height: 170px;
    justify-content: space-between;
}

#beverage-courses .card-bot {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-left: 100px;
    justify-content: space-between;
}

#beverage-courses .card-bot>input {
    height: 45px;
    border-radius: 23px;
    background-color: #ffffff;
    padding: 0px 20px;
}

#beverage-courses .card-bot>input::placeholder {

    width: 543px;
    height: 145px;
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 31px;
    color: #000000;
    font-weight: 700;
    font-family: "Roboto Slab";
}

#beverage-courses .card-top>h2 {
    font-size: 39px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto Slab";
}

#beverage-courses .card-top>p {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #000000;
    font-weight: 250;
    font-family: "Roboto Slab";
}

#beverage-courses .card-bot>p {
    width: 100%;
    height: 71px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 14px;
    color: #30302f;
    font-weight: 400;
    font-family: "Barlow";
}

#beverage-courses .card-bot>a {
    text-align: center;
}

/* ============================beverage menu======================= */
#beverage-menu .container {
    display: flex;
    justify-content: center;
}

.right-content {
    background-color: #000;
    border-radius: 0px 110px 110px 0px;
    padding-left: 50px;
}

.right-content .card-top {
    color: white;
}

.right-content .card-mid {
    display: flex;
    color: white;
    justify-content: space-between;
}

.mid-left {
    width: 80%;
}

.mid-right {
    display: flex;
    width: 10%;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 60px;
}

.right-content .card-bot {
    color: white;
    /* background-color: #b68e76; */
}

#beverage-menu h2 {
    font-size: 66px;
    font-weight: 400;
    font-family: "Roboto Slab";
}

#beverage-menu h3 {
    font-size: 34px;
    font-weight: 500;
    font-family: "Roboto Slab";

}

#beverage-menu h4 {
    font-size: 21px;
    font-weight: 250;
    font-family: "Roboto Slab";
}

#beverage-menu .mid-left p {
    width: 511px;
    height: 63px;
    font-size: 10px;
    font-weight: 400;
    font-family: "Barlow";
}

#beverage-menu a {
    font-size: 34px;
    font-weight: 500;
    font-family: "Roboto Slab";
    color: #fff;
    line-height: 110px;

}

.beverage-menu-para>p {
    width: 440px;
}

.beverage-menu-para {
    width: 100%;
    font-size: 14px;
    color: #000000;
    font-family: "Barlow";
    padding: 0px 0px 0px 150px;
    margin: 37px 0px 0px 150px;
    justify-content: center;

}

.right-content {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(182, 142, 118, 1) 25%, rgba(0, 0, 0, 1) 25%);
}

/* ===================================Suger-Free=================================== */
#suger-free {
    background-image: url(../images/suger-free.png);
    background-size: cover;
    background-position: -188px 0;
    background-repeat: no-repeat;
    padding-left: 200px;
}

.card-suger-free {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 460px;
    height: 100%;
    margin-bottom: 100px;
}

#suger-free h2 {
    font-size: 76px;
    font-weight: 100;
    font-family: "Roboto Slab";
    margin-top: 100px;
}

#suger-free h3 {
    font-size: 39px;
    font-weight: 600;
    font-family: "Roboto Slab";
    margin-top: 30px;

}

#suger-free h4 {
    width: 80%;
    font-size: 26px;
    font-weight: 400;
    font-family: "Roboto Slab";
    margin-top: 100px;
}

#suger-free a {
    margin-top: 30px;
    width: 235px;

}

/* ====================================Learn-More================================== */
#learn-more {

    padding: 150px 0px;
}
#learn-more>.container {
    display: flex;

}

#learn-more>.container>.left-content {
    border-radius: 20% 0px 0px 20%;
    background-color: #fff;
    width: 50%;
    padding: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    box-shadow: 2px 10px 49px rgb(94, 92, 92);

}

#learn-more img {
    width: 50%;
}

#learn-more h2 {
    font-size: 39px;
    font-weight: 600;
    font-family: "Roboto Slab";
    width: 50%;

}

#learn-more h3 {
    font-size: 32px;
    font-weight: 100;
    font-family: "Roboto Slab";
    width: 80%;

}


#learn-more p {
    font-size: 14px;
    font-family: "Barlow";
    width: 83%;

}

#learn-more a {
    width: 60%;
    text-align: center;
}

#learn-more a+p {
    font-size: 11px;
    font-family: "Barlow";
    width: 70%;

}

#learn-more h5 {
    text-align: center;
    padding-top: 10px;
    font-size: 14px;
    color: #30302f;
    font-weight: 800;
    font-family: "Barlow";
}

/* ================================favorite-seasonal-smoothie=========================== */

.favorite-seasonal {
    padding: 50px 50px 0px 130px;
}

#favorite-seasonal-smoothie .row1 {
    margin: auto;
    display: flex;
    flex-direction: column;
}

#favorite-seasonal-smoothie .row {
    margin: 0;
}

.col1 {
    padding: 30px;
    margin-left: 65px;
    display: flex;
    flex-grow: 0.3;
    flex-direction: column;
    justify-content: space-between;
}


.shadow-box {
    box-shadow: 27px -10px 27px rgb(69, 68, 68);
    height: 330px;
    width: 10px;
    position: absolute;
    right: 38px;
    top: 90px;
}

.z-index-min-1 {
    z-index: -1;
}


#favorite-seasonal-smoothie ul {
    list-style: none;
}

#favorite-seasonal-smoothie ul li:before {
    content: "+";
    padding-right: 5px;
}


.btn-minus {
    background-color: #b68e76;
    width: 10px;
    border-radius: 20px 0px 0px 20px;
    padding: 7px 10px;
    margin: 0px 10px;
}

.btn-plus {
    background-color: #b68e76;
    width: 10px;
    border-radius: 0px 20px 20px 0px;
    padding: 7px 10px;
    margin: 0px 10px;
}

#favorite-seasonal-smoothie h6 {
    font-size: 15px;
    color: #30302f;
    font-weight: 600;
    font-family: "Roboto Slab";
    width: 55%;
}

#favorite-seasonal-smoothie h5 {
    font-size: 52px;
    font-weight: 100;
    font-family: "Roboto Slab";
}

.add-order {
    /* margin: auto; */

}

.row1>a {
    color: #30302f;

}

.add-order a {
    font-size: 11px;
    color: #30302f;
    font-weight: 500;
    font-family: "Roboto Slab";
}


/* =============================bottom section=============================== */
#bottom {
    width: 100vw;
    height: 100vh;
    padding-top: 150px;
}

#bottom .row {
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    width: 100%;
    margin: 0;
    justify-content: space-evenly;
}

#bottom img {
    position: absolute;
    z-index: 1;
}

.content {
    width: 400px;
    height: 250px;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 30px;
    margin: 30px;

}

#bottom h2 {
    font-size: 100px;
    font-weight: 100;
    font-family: "Roboto Slab";
}

#bottom h3 {
    font-size: 38px;
    font-family: "Roboto Slab";
}

#bottom a {
    font-size: 22px;
    color: #fefefc;
    font-weight: 700;
    font-family: "Roboto Slab";
}

#bottom p {
    font-size: 11px;
    color: #30302f;
    font-weight: 400;
    font-family: "Barlow";
}

/* ===========================Footer============================ */

footer .social-icon-menu::after {
    display: none;
}

footer .container {
    background-color: #3a3a3a;
    color: white;
    border-radius: 100px 100px 0px 0px;
    display: flex;
    flex-direction: column;
}

footer ul li a {
    color: white;
}

.head {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.head>h2 {
    font-size: 72px;
    letter-spacing: 0px;
    line-height: 95px;
    color: #b68e76;
    font-weight: 100;
    font-family: "Roboto Slab";
    text-align: center;
}

.head>h5 {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 19px;
    color: #ffffff;
    font-weight: 800;
    font-family: "Barlow";
}

.list-menu ul li {
    font-size: 15px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Roboto Slab";
}

.social-icon-menu {
    list-style: none;
}

.social-icon-menu li {
    padding: 5px;
}

.list-menu>div>ul {

    list-style: none;
}


.sign-up {
    flex-direction: column;
    padding-bottom: 20px;
    justify-content: space-between;

}

.sign-up h4 {
    font-size: 28px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Roboto Slab";
}

.sign-up input {
    border-radius: 25px;
    padding: 8px 20px;
}

.sign-up input::placeholder {
    font-size: 12px;
    color: #000000;
    font-weight: 700;
    font-family: "Roboto Slab";
}