/* ===================== COMMON STYLE ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: #f1e8e3;

}

.d-flex {
    display: flex;
}

.flex-direction-rr {
    flex-direction: row-reverse;
}

.ml-a {
    margin-left: auto;
}

.txt-center {
    text-align: center;
}

.txt-light {
    color: white;
}

.px-3 {
    padding: 0 3em;
}

.position-fixed {
    /* position: fixed; */
}

.w-100 {
    width: 100%;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    margin-right: auto;
    margin-left: 180px;
}

.col {
    flex: 1 0 0%;
    padding-right: 15px;
    padding-left: 15px;
}

a {
    text-decoration: none;
}














/* ==================== HEADER STYLE =================== */


.main-menu {
    width: 1180px;
    background-color: #3a3a3a;
    margin: 0 auto;
    padding: 50px 30px 20px;
    border-radius: 0px 0px 80px 80px;
    box-shadow: 0 90px 50px -70px gray;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

nav ul li {
    display: inline-block;
}

.social-icon-menu {
    position: relative;
    padding: 0 20px;
}

.social-icon-menu::after {
    content: ' ';
    border-right: 2px solid grey;
    position: absolute;
    height: 20px;
    top: 2px;
    right: 7px;
}

h1 {
    color: #b68e76;
    font-family: 'Poppins', serif;
    font-size: 72px;

}


/* ========================== MAIN TOP SECTION STYLE ======================== */

#main-top-section {
    background: url(../images/top-bg.png)no-repeat 0px 200px /contain;
    background-position: -75px -84px;

}

.card-main-header {
    margin: -60px 93px 200px 0px;
    padding: 150px 0px 150px 150px;
    width: 50%;
}

.card-main-header h2 {
    font-size: 37px;
    letter-spacing: 1px;
    line-height: 49px;
    font-weight: 300;
    font-family: "Roboto Slab";
}

.card-main-header p {
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #000000;
    font-weight: 600;
    font-family: "Roboto Slab";
    margin: 30px 0;
    margin-right: 50px;
}

.btn {
    border-radius: 21px;
    padding: 7px 50px;
    color: white;
}

.btn-primary {
    background-color: #b68e76;
}

.btn-secondary {
    background-color: #3a3a3a;
}

.btn-third {
    background-color: #b68e76;
    width: 11em;
}

/* ==========================healthy-and-delicious============================ */

#healthy-and-delicious>.container {
    /* border: 2px solid; */
    /* border-radius: 100px; */
    /* height: 100vh; */
    width: 80vw;
    display: flex;
    padding: 0;

}

#healthy-and-delicious>.container>.left-content {
    border-radius: 100px 0px 0px 100px;
    background-color: #fff;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#healthy-and-delicious img {
    width: 50%;
}

#healthy-and-delicious h2 {
    font-size: 39px;
    letter-spacing: 0px;
    line-height: 47px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto Slab";

}

#healthy-and-delicious h3 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #000000;
    font-weight: 250;
    font-family: "Roboto Slab";

}

#healthy-and-delicious h4 {
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #b68e76;
    font-weight: 500;
    font-family: "Roboto Slab";

}

#healthy-and-delicious p {
    font-size: 8px;
}

#healthy-and-delicious ul {
    list-style: none;
}

#healthy-and-delicious ul li:before {
    content: "+";
    padding-right: 5px;
}

/* ================================ Beverage courses =============================== */

#beverage-courses {
    background-image: url(../images/Beverage.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.card-beverage-courses {
    /* border: 2px solid; */
    margin: 230px 5px 130px 100px;
    /* padding: 150px 0px 150px 150px; */
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:space-between ;


}

.card-top {
    display: flex;
    flex-direction: column;
    /* width: 50%; */
    padding: 0px 20px;
    height: 170px;
    justify-content: space-between;
}
.card-bot {
    display: flex;
    flex-direction: column;
    height: 250px;
    padding-left: 100px;
    justify-content: space-between;
}

.card-bot>input{
    height: 45px;
    border-radius: 23px;
    background-color: #ffffff;
    padding: 0px 20px;
}
.card-bot>input::placeholder
{

    width: 543px;
height: 145px;
font-size: 15px;
letter-spacing: 0px;
line-height: 31px;
color: #000000;
font-weight: 700;
font-family: "Roboto Slab";
}

#beverage-courses .card-top>h2 {
    font-size: 39px;
    letter-spacing: 0px;
    line-height: 48px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto Slab";
}

#beverage-courses .card-top>p {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #000000;
    font-weight: 250;
    font-family: "Roboto Slab";
}

#beverage-courses .card-bot>p {
    width: 100%;
    height: 71px;
    font-size: 11px;
    letter-spacing: 0px;
    line-height: 14px;
    color: #30302f;
    font-weight: 400;
    font-family: "Barlow";
}
#beverage-courses .card-bot>a{
    text-align: center;
}

/* ============================beverage menu======================= */
#beverage-menu .container{
    border: 2px solid red;
}

.card-beverage-menu .card-top{
    border: 2px solid;
}
.card-beverage-menu .card-mid{
    border: 2px solid;
}
.card-beverage-menu .card-bot{
    border: 2px solid;
}

