/* ===================== COMMON STYLE ================= */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: #f1e8e3;

}

.d-flex {
    display: flex;
}

.flex-direction-rr {
    flex-direction: row-reverse;
}

.ml-a {
    margin-left: auto;
}

.txt-center {
    text-align: center;
}

.txt-light {
    color: white;
}

.px-3 {
    padding: 0 3em;
}

.position-fixed {
    /* position: fixed; */
}

.w-100 {
    width: 100%;
}

.container {
    width: 1180px;
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
}

.row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;
}

.col {
    flex: 1 0 0%;
    padding-right: 15px;
    padding-left: 15px;
}

a {
    text-decoration: none;
}














/* ==================== HEADER STYLE =================== */


.main-menu {
    width: 1180px;
    background-color: #3a3a3a;
    margin: 0 auto;
    padding: 50px 30px 20px;
    border-radius: 0px 0px 80px 80px;
    box-shadow: 0 90px 50px -70px gray;
}

nav ul li a {
    color: white;
    text-decoration: none;
    padding: 8px;
}

nav ul li {
    display: inline-block;
}

.social-icon-menu {
    position: relative;
    padding: 0 20px;
}

.social-icon-menu::after {
    content: ' ';
    border-right: 2px solid grey;
    position: absolute;
    height: 20px;
    top: 2px;
    right: 7px;
}

h1 {
    color: #b68e76;
    font-family: 'Poppins', serif;
    font-size: 72px;

}


/* ========================== MAIN TOP SECTION STYLE ======================== */

#main-top-section {
    background: url(../images/top-bg.png)no-repeat 0px 200px /contain;
    align-items: center;

}

.card-main-header {
    margin: 155px 0;
    padding: 150px 0px 150px 150px;
    width: 50%;
}

.card-main-header h2 {
    font-size: 37px;
    letter-spacing: 1px;
    line-height: 49px;
    font-weight: 300;
    font-family: "Roboto Slab";
}

.card-main-header p {
    font-size: 34px;
    letter-spacing: 1px;
    line-height: 41px;
    color: #000000;
    font-weight: 600;
    font-family: "Roboto Slab";
    margin: 30px 0;
    margin-right: 50px;
}

.btn {
    border-radius: 21px;
    padding: 7px 50px;
    color: white;
}

.btn-primary {
    background-color: #b68e76;
}

.btn-secondary {
    background-color: #3a3a3a;
}
.btn-third {
    background-color:#b68e76;
    width: 11em;
}

/* ==========================healthy-and-delicious============================ */

#healthy-and-delicious>.container {
    /* border: 2px solid; */
    /* border-radius: 100px; */
    /* height: 100vh; */
    width: 80vw;
    display: flex;
    padding: 0;
    
}

#healthy-and-delicious>.container>.left-content {
    border-radius: 100px 0px 0px 100px;
    background-color: #fff;
    width: 50%;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

#healthy-and-delicious img {
    width: 50%;
}

#healthy-and-delicious h2 {
    font-size: 39px;
    letter-spacing: 0px;
    line-height: 47px;
    color: #000000;
    font-weight: 500;
    font-family: "Roboto Slab";

}

#healthy-and-delicious h3 {
    font-size: 32px;
    letter-spacing: 0px;
    line-height: 42px;
    color: #000000;
    font-weight: 250;
    font-family: "Roboto Slab";

}

#healthy-and-delicious h4 {
    font-size: 27px;
    letter-spacing: 0px;
    line-height: 33px;
    color: #b68e76;
    font-weight: 500;
    font-family: "Roboto Slab";
    
}
#healthy-and-delicious p {
    font-size: 8px;
}

#healthy-and-delicious ul{
    list-style:none;
}

#healthy-and-delicious ul li:before {
    content: "+";
    padding-right: 5px;
  }

  /* ================================ Beverage courses =============================== */

#beverage-courses{
    background-image: url(../images/Beverage.png);
    background-repeat: no-repeat;
    background-size: contain;
}

.card-beverage-courses{
border: 2px solid;
margin: 155px 0;
padding: 150px 0px 150px 150px;
width: 50%;


}

.card-bot{
    display: flex;
    flex-direction: column;
    width: 50%;
}








