@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
/* d-flex will contain display flex property only START */
.d-flex{
    display: flex;
}
/* d-flex will contain display flex property only END */

.ml-a{
    margin-left: auto;
}
.txt-center{
    text-align: center;
}

/* ============================================================================== */

.main-menu{
    border-radius: 80px;
    background-color: #3a3a3a;
    padding: 50px 30px;
    margin: 0px 30px;
    border-radius: 0px 0px 80px 80px;
    box-shadow: 0 90px 50px -70px gray;
}

h1{
    font-size: 72px;
    letter-spacing: 0px;
    line-height: 95px;
    color: #b68e76;
    font-weight: 400;
    font-family: "Roboto Slab";
    text-align: center;

}

.col{
    display: flex;
    flex-wrap: wrap;
    align-content: center; 
}

.navbar-left{
    padding-left: 100px;
    margin-left: auto;
   }
.navbar-right{
    /* padding-right: 100px; */
    margin-right: auto;
   }

   .navbar-right>span{
    color: #ffffff;
   }

nav ul li a{
    text-decoration: none;
    padding: 0px 10px;
    font-size: 15px;
    color: #ffffff;
    font-family: "Roboto Slab";

}
nav ul li{
    display: inline-block;
    
}

.social-icon-menu{
    position: relative;
    padding: 0 20px;
}
.social-icon-menu::after{
    content: ' ';
    border-right: 2px solid grey;
    position: absolute;
    height: 15px;
    top: 2px;
    right: 7px;
}








/* ================================main top section========================================= */


