* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    display: grid;
    height: 100vh;
}



div[class*=article] {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
    width: 300px;
    padding: 80px 22px;
}


.article1 {
    grid-area: a1;
    background-color: yellow;
}

.article2 {
    grid-area: a2;
    background-color: red;
}

.article3 {
    grid-area: a3;
    background-color: skyblue;
}

.article4 {
    grid-area: a4;
    background-color: orange;
}

.img1 {
    grid-area: i1;
}

.img2 {
    grid-area: i2;
}

.img3 {
    grid-area: i3;
}

.img4 {
    grid-area: i4;
}

.right-arrow {
    width: 10px;
    height: 10px;
    margin-left: 5px;
}

@media (min-width: 767.98px) {



    .container {
        display: grid;
        grid-template-columns: repeat(4, 0.1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a1 i1 a2 i2"
            "i3 a3 i4 a4"
        ;

    }
}

@media (max-width: 767.98px) {



    .container {
        grid-template-columns: repeat(4, 0.1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a1 i1 a2 i2"
            "a3 i3 a4 i4"
        ;

    }
}


@media (max-width: 575.98px) {

    .container {
        grid-template-columns: repeat(4, 0.1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "a1"
            "i1"
            "a2"
            "i2"
            "a3"
            "i3"
            "a4"
            "i4"
        ;

    }
}